<nav class="navbar sticky-top navbar-dark navbar-expand-md" style="background-color: #19181a;">
  <a class="navbar-brand" href="/">Spotitunes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class='nav ml-auto'>
      <li class="nav-item">
        <a class='nav-link' href="/search"><i class="fas fa-search"> Search</i></a>
      </li>
      {{#if user}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>  {{user.username}} </i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/userProfile">My favorite Podcasts</a>
          <a class="dropdown-item" href="/mybookmarks">My bookmarked Episodes</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li>
      {{else}}
      <li class='nav-item active'>
        <a class='nav-link' href="signup">Signup</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href="login">Log in</a>
      </li>
      {{/if}}
      
      {{!-- {{#if user}}
      <li class='nav-item'>
        <form action="/logout" method="post">
  <button class="btn btn-outline-secondary btn-sm">Logout</button>
</form>
      </li>
      {{/if}} --}}
      
    </ul>
  </div>
  </div>
</nav>