<nav class="navbar sticky-top navbar-dark navbar-expand-md" style="background-color: #19181a;">
  <a class="navbar-brand" href="/">Spotitunes</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class='nav ml-auto'>
      {{#if user}}
      <li class="nav-item">
        <a class='nav-link' href="/userProfile">Logged in as {{user.username}}</a>
      </li>
      {{else}}
      <li class='nav-item active'>
        <a class='nav-link' href="signup">Signup</a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' href="login">Log in</a>
      </li>
      {{/if}}
      <li class="nav-item">
        <form action="/search-results" method="get">
        <input id="podcast-navbar" class="form-control" type="text" name="podcast"></li>
        <li class="nav-item">
        <button style="display:inline" class="btn btn-sm btn-outline-secondary">Search</button>
      </form>
      </li>
      {{#if user}}
      <li class='nav-item'>
        <form action="/logout" method="post">
  <button class="btn btn-outline-secondary btn-sm">Logout</button>
</form>
      </li>
      {{/if}}
      
    </ul>
  </div>
  </div>
</nav>