 <div class="backgroundImage">
        <h1>Welcome to {{title}}</h1>
        <p>Find your favourite podcasts in one app</p>
        <div class="container">
  <a href="search" class="btn btn-outline-secondary btn-lg" role="button">Search for Podcasts</a>
</div>

      </div>


{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
