<h1>MERGED SEARCHES</h1>

<div id="merged-search-form">
    <form action="/search-results" method="get">
        <input id="podcast" type="text" name="podcast">
        <button>Search for a podcast</button>
    </form>
</div>