<form action="/details/:showId", method="GET"></form>
<section class="podcastDetails"></section>

    <div>
        <h2><a href="/spotify/details/{{this.uri}}">{{name}}</a></h2>
        <img class="podcastImg" src="{{this.images.[1].url}}">
        <p>{{podcasts.description}}</p>
        <button type="submit">Add as favorite</button>
        
    </div>
  



</section>