<h1>Podcast Search Results</h1>


<div id="podcast-search-results">
  {{#each podcasts}}
  <div>
    <h3>{{this.name}}</h3>
    <form action="/add-favorite" method="post">
      <input type="text" name="spotifyid" value="{{this.id}}">
      <button type="submit" id="favorite-btn">Add as favorite</button>
    </form>
  </div>
  {{/each}}
</div>