<div id="spotify-search-form">
    <form action="spotify/search-results" method="get">
        <input id="podcast" type="text" name="podcast">
        <input  class="btn btn-outline-secondary btn-sm" type="submit" value="Search for a Spotify Podcast">
    </form>
</div>

