<h1>Podcast Search Results</h1>


<div id="podcast-search-results">
  {{#each podcasts}}
    <div>
        <h3>{{this.name}}</h3>
        <button type="submit">Add as favorite</button>
    </div>
  {{/each}}
</div>