body {  
  background-color: #19181A ;
  color: white;
  font: "Lucida Grande", Helvetica, Arial, sans-serif; 
  font-size: 1rem;
  height: 100%;
}


.view {
  height: 100vh;
} 

.anita{
  margin-top: 20%;
}

/* .backgroundImage{
  height: 1000px;
  background-image: url("/images/1_1-2.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0 0 0;
position: relative;
text-align: center;
padding: 5%;
} */ 

h1{

  color:white; 
}

p{

  color:white;

}

a{
  color: white;
}

.btn{
  color: #b19f9e;
  border-color: #b19f9e;
  
}

.nav-link{
  color: #b19f9e;
}

.btn-lg{
  color:#b19f9e;
  border-color: #b19f9e;
  /* margin-top: 20%;
  margin-bottom: 20%; */
}

#signup, #login{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-sm{
  margin-left: 10px;
}

.btn-lg{
  margin-top: 5%;
}

.one-podcast {
    display: flex;
    flex-direction: column;
    margin: 10px 30px;
    align-items: center;
    width : 200px;
    justify-content: flex-end;
}

#podcast-search-results {
  display: flex;
  flex-wrap: wrap;
}

/* .podcastImg {
  height : 100px;
  margin : 10px;
}

.podcast-title {
  font-size: 15px;;
} */

/* @media (max-width: 575.98px) { 
  h1{
    font-size: 20px;
  }
 }

@media (max-width: 767.98px) { 
  h1{
    font-size: 30 px;
  }
 } */

 .rating
 {
   height:50px;
   width:200px;
   margin:auto;
   margin-top:10px;
 }

 .fa
 {
   font-size:30px !important;
   cursor:pointer;
 }
 .checked
 {
   color:#cebc81;
 }
 .unchecked
 {
   color:#414141;
 }

 .form-check-label{
   margin-right: 10px;
 }

.card{
  background-color: #19181A;
  border-color: #b19f9e;
  margin-bottom: 5%;
}

.row{
  margin-bottom: 3%;
  /* margin-top: 3%; */
}

hr{
  margin-top: 2rem;
  margin-bottom: 3rem;
  border: 0;
  border-top: 0.5px solid white;
}

#rating-content-input{
  display: none;
}

/*playlists*/

.playlist-box {
  width : 450px
}

.favorite-box {
  width : 450px
}

.podcast-title-profile-page {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color : white;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: lightgray;
  background-color:grey;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


#comment-content{
  background-color: #19181A;
  color: white
}
/* @media (max-width: 991.98px) { ... }

@media (max-width: 1199.98px) { ... } */


/*# sourceMappingURL=style.css.map