<h1>Podcast Search Results</h1>

<div id="search-results">
  {{#each searchResults}}
    <div>
        <h3>{{this.title_original}}</h3>
        <button type="submit">Add as favorite</button>
    </div>
  {{/each}}
</div>