<div id="listenNotes-search-form">
    <form action="/listennotes/search-results" method="get">
        <input id="podcast" type="text" name="podcast">
        <button>Search for a Listen Notes Podcast</button>
    </form>
</div>