<h1>Podcast Search Results</h1>

<div id="search-results">
  {{#each searchResults}}
    <div>
        <h3>{{this.title_original}}</h3>
        <form action="/listennotes/{{this.id}}/addtofavorite" method="post">
          <button>Add to favorites</button>
        </form>
    </div>
  {{/each}}
</div>